[submodule "modules/frontend-model"]
	path = modules/frontend-model
url=https://github.com/jewetnitg/model.git
[submodule "modules/frontend-router"]
	path = modules/frontend-router
	url = /Users/rik/Repositories/frontend-router.git
[submodule "modules/frontend-translator"]
	path = modules/frontend-translator
url=https://github.com/jewetnitg/translator.git
[submodule "modules/frontend-view"]
	path = modules/frontend-view
url=https://github.com/jewetnitg/view.git
